msubsup>*:first-child { 
  display:table-cell;
  text-align:left;
  font-size:2em;
}

msubsup 
	{display:inline-block;
	text-align:center; 
        vertical-align:-0.6em;
	margin:0 2px;
	font-size:1em;
}


msubsup > *+*
	{
        display:table-row;
	vertical-align:bottom;
	text-align:left;
        color:red;
}


msubsup > *:last-child
	{border-top:solid thin;
        vertical-align:text-top;
	display:table-caption;
        width:100%; 
	text-align:left; 
        color:blue;
}


