/* variantes de syntaxes : moz:FireFox webkit:Safari,Chrome o:Opera ms:MSIE enfin le "standard" */
.popup {
	position:absolute;
	top:0;
	left:0;
	width:400px;
	min-width:400px;
	background:white;
	border: 1px solid gray; /*keops*/
    font-family: Arial, Helvetica, Geneva; /*keops*/
    -moz-box-shadow: 4px 4px 10px #888; 
    -webkit-box-shadow: 4px 4px 10px #888; 
    -o-box-shadow: 4px 4px 10px #888; 
    box-shadow:4px 4px 6px #888; 
}

.popup h3 { 
  margin:0 0 15px 0; /*keops*/
  text-align:center;
  height:25px;
  font-size:16px;
  color:white;/*keops*/
  cursor:default;
  background:#3669FF;/*keops:IE*/
  /*
  background:-moz-linear-gradient(top, #95C8FF 50%, #3669FF 100%); 
  background:-webkit-gradient(linear, left top, left bottom, from(#95C8FF), to(#3669FF)); 
  background:-o-linear-gradient(top, #95C8FF 50%, #3669FF 100%); 
  background:-ms-linear-gradient(top, #95C8FF 50%, #3669FF 100%); 
  background:linear-gradient(top, #95C8FF 50%, #3669FF 100%); 
  */
}

.popup div { 
	padding:0px; /*keops*/
}

.graph {
	display:block;
}

.nograph {
	display:block;
	margin:10px; /*keops*/
}

.yaxislegende { 
  float:left;
  width:25px;
  height:100%;
  /*background:lime;*/
}

span.verticallegende{ 
  position:absolute;
  top:0px;
  left:0px;
  /*background:yellow;*/
  position:absolute;
  display:block;
    -moz-transform-origin: 0px 0px;   /* move the origin to top-left */
    -webkit-transform-origin: 0px 0px;  
    -o-transform-origin: 0px 0px;  
    -ms-transform-origin: 0px 0px;  
    transform-origin: 0px 0px;  
	-moz-transform: rotate(-90deg); /* rotate; */
  	-webkit-transform: rotate(-90deg);
  	-o-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
  	transform: rotate(-90deg);
}

/*version IE6 7 8 */
span.verticallegende{ 
	*filter:  progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand',filterType="nearest neighbor", M11=0, M12=1, M21=-1, M22=0);
	/* 
	IE6,7 avec *devant !
	filter:  progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand',filterType="nearest neighbor", M11=0, M12=1, M21=-1, M22=0); 
	puis IE8
	-ms-filter: "progid:DXImageTransform.Microsoft.Matrix(SizingMethod='auto expand', filterType='nearest neighbor',M11=0, M12=1, M21=-1, M22=0)"; 
	*/
	/*writing-mode: tb-rl;*/
}


.contenu { 
  margin-left: 25px;
  margin-right: 30px;
  width:400px;
}

.legende { 
  float:right;
  width:30px;
  /*background:yellow;*/
}

.xaxislegende { 
  margin-right: 30px;
  margin-left: 30px;
  text-align:center;
  /*background:orange;*/
}


img.fermer { 
  position:absolute;
  top:3px; /*keops*/
  right:3px; /*keops*/
}

myinfobox {
 		z-Index:99;
        display:none;
        position:absolute; 
        left:0px;
        top:0px;
        width:auto;
		height:auto;
        background-color:#FFF;
		/*#ffff88;*/
        padding:1px;
        text-align:center;
        /* Cross-browser opacity:*/
        -ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=70)'; 
        filter: alpha(opacity=70);
        opacity:.7;
	    font-family: Arial, Helvetica, Geneva; /*keops*/
	    font-size:12px;
		color : #666;	
}