body {
  color:black;
  margin:0px;
  border:0px;
  padding:5px;
  overflow:scroll;
  font-family : Georgia, Verdana, Arial, Helvetica, sans-serif;
  font-size:14px;
}

a {
 color:blue;
 font-weight:bold;
 text-decoration:none;
}

a:hover {
 text-decoration:underline;
}

p.alerte { 
  background-color:yellow;
  color:red;
}

h2 { 
  text-align:center;
  font-size:1.7em;
}

h3 { 
 font-size:1.5em;
}

h4 { 
 font-size:1.3em;
}

h5 { 
 font-size:1.1em;
}