
div.tableur table td {
 width:13.5%;
}

div.tableur table td.col1 {
 width:5.5%;
}

div.bas {
  height:28px;
}

#histSVG {
  left:20px;
 width:298px;
}

div.svg object{
  top:10px;
}


div.histoSVG input.combo {
  width:276px;
  left:20px;
}

div.histoSVG a {
  margin-top:0px;
}
