div.milieu { 
  top:36px;
}


div.tableur table td {
 width:13.5%;

}

div.tableur table td.col1 {
 width:5.5%;
}

div.bas {
  height:33px;
}


div.svg object{
  top:30px;
}

div.aide object {
  height:98%;
}
