html {
overflow:hidden;
}

body {
  margin : 0px; 
  padding : 0px; 
  border : 0px;  
  height:100%;
  overflow:hidden;
  font-family : Georgia, Verdana, Arial, Helvetica, sans-serif; 
  font-size:14px;
}


a {
 color:yellow;
 font-weight:bold;
 text-decoration:none;
 cursor:pointer;
}

a img {
  border:none;
  margin-right:5px;
  cursor:pointer;
}

div.haut  {
  position:absolute;
  top : 0%;  
  height :38px; 
  width:100% ;
  background-color:gray;
  color:white;
  margin:0px;
  border:0px;
  padding:0px;
  text-align:center;
  overflow:hidden;
  border-bottom:2px;
  border-bottom-style:outset;
  border-bottom-color:gray;
  font-weight:bold;
}

div.haut p {
  margin:5px;
  padding:0px;
}

div.haut p.syntaxe {
  position:absolute;
  margin:0px;
  //top:7px;
  bottom:5px;
  right:7px;
}

div.haut select {
  background-color:#ffff66;
  color:black;
  border-color:black;
  margin : 0px 2px 0px 2px;
} 

div.haut img{
  position:relative;
  vertical-align:top;
}

div.haut p.doc{
  position:absolute;
  margin:0px;
  left:5%;
  top:5px;
}


div.haut p.choix{
  position:absolute;
  top:3px;
  margin:0px;
  padding-top:1px;
  right:20%;
}


div.milieu {
  position:absolute;
  margin:0px;
  top :40px;
  bottom:30px;
  width:100%
}

div.accueil {
  position:absolute;
  visibility:visible;
  height:100%;
  left:36%; 
  width:64%;
  margin:0px;
  border:0px;
  padding:0px;
  text-align:center;
  overflow:auto;
  
}

div.accueil img { 
  vertical-align:middle;
}

div.console {
  position:absolute;
  visibility:visible;
  display:none;
  height:100%;
  left:36%; 
  width:64%;
  background-color:white;
  margin:0px;
  border:0px;
  padding:0px;
  text-align:left;
  overflow:auto;
}

div.console math {
  display:block;
  font-size:16px;
  cursor:pointer;
}

div.console span { 
 cursor:pointer;
}

div.console input {
  left:1%;
  width:98%;
  border:0px;
  margin :5px;
  padding:2px;
  font-size:16px;
}

div.console p {
  font-size:16px;
  margin:5px;
  border-width:0px 0px 1px 0px;
  padding:2px;
  border-style:dotted;
  border-color:#303531;
}

div.aide {
  position:absolute;
  left:0px;
  height:100%;
  width:35.9%;
  margin:0px;
  padding:0px;
  text-align:left;
  overflow:auto;
  border-right:1px solid gray;
}

div.aide object {
  position:absolute;
  margin:0;
  padding:0;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  /*background-color:white;*/
  overflow-x:hidden;
  overflow-y:auto;
}

#assistant { 
  position:absolute;
  left:1%;
  width:98%;
  height:99%;
  border: 0px;
  background-color:white;
  overflow:auto;
  padding-left:2px;
}

#assistant a { 
  color:blue;
  font-size:13px;
}

#assistant span { 
  color:blue;
  font-size:13px;
  cursor:pointer;
}

#assistant legend { 
  color:blue;
  font-size:13px;
  cursor:pointer;
}

#assistant h2 {
 text-align:center;
}

#assistant h3 {
 cursor:pointer;
}

#assistant p {
 display:none;
}

#assistant fieldset {
  margin:2px;
  padding:2px;
  display:none;
}

div.programme {
  display:none;
  position:absolute;
  top:50%;
  height:50%;
  left:36%;
  width:64%;
  color:black;
  margin:0px;
  border:0px;
  background:white;
  padding:0px;
  text-align:left;
  overflow:auto;
}

div.programme textarea {
  position:absolute;
  top:2px;
  left:1%;
  width:98%;
  height:99%;
  border:0px;
  border-top:1px solid black;
  padding:0px;
  margin:0px;
}

div.tableur {
  position:absolute;
  display:none;
  height:100%;
  left:36%; 
  width:64%;
  background-color:silver;
}

div.tableur div.entree {
  position:absolute;
  left:5px;
  right:180px;
  top:2px;
  //width:60%;
  height:10px;
}

div.tableur div.outils{
  position:absolute;
  top:3px;
  right:10px; 
}


div.tableur div.outils img { 
  vertical-align:top;
  margin:0px 1px 0px 1px;
}

div.tableur div.outils select {
  vertical-align:top;
  background-color:#ffff66;
} 

div.tableur math {
  display:block;
}

div.tableur div.conteneur {
  position:absolute;
  width:100%; 
  top:30px;
  bottom:5px;
  overflow:auto; 
  background-color:white;
}

div.tableur div.tableau{
  width:900px;
}

div.tableur table {
  width:100%;
  border-width:1px;
  border-style:solid;
  border-collapse:collapse;
  border-color:black;
}

div.tableur table td {
  border-width:1px;
  border-style:solid;
  border-color:brown;
}

div.tableur table td.col1 {
 background-color:lightgrey;
 width:50px;
 text-align:center
}

div.tableur table math { 
  color:navy;
} 

div.svg {
  position:absolute;
  height:99%;
  left:36%; 
  width:64%;
  overflow:hidden;
  background-color:white;
  display:none;


}

div.svg object{
  position:absolute; 
  top:30px;
  right:0;
  width:90%;
  height:100%;
  overflow:auto;
  z-index:0;
}

div.svg p { 
  margin:1px;
}

div.svg #fenetre {
 position:absolute;
 left:280px;
 top:30px;
 background-color:yellow;
 display:none;
 overflow:auto;
}

div.histoSVG {
  position:absolute;
  width:100%;
  right:0px;
  top:0px;
  height:30px;
  padding-top:2px;
  background-color:silver;
  text-align:left;
  font-weight:bold;
  padding-left:1%;
  z-index:1;
}


#histSVG {
  position:absolute;
  top:5px;
  right:100px;
  width:20px;
  border:1px;
  border-color:black;
  z-index:1;
}

div.histoSVG option {
  background-color:white;
}

div.histoSVG a {
  margin-top:4px;
}

div.histoSVG input.combo {
  position:absolute;
  background-color:white;
  width:280px;
  height:20px;
  right:120px;
  top:4px;
  padding:0px;
  z-index:2;
}

div.svg div.saisieSuite{
  position:absolute;
  top:0px;
  left:0;
  width:100%;
  height:160px;
  background-color:silver;
  padding-left:5px;
  overflow:auto;
}

#sortieSuite{
  position:absolute;
  top:160px;
  left:0;
  width:100%;
  bottom:5px;
  text-align:left;
  overflow:auto;
}

div.saisieExplicite { 
  display:none;
}

div.bas {
  position:absolute;
  text-align:center;
  bottom:0px;
  height:33px;
  width:100%;
  margin:0px;
  padding-top:0px;
  background-color:gray;
  color:white;
  border-top:2px;
  border-top-style:inset;
  border-top-color:gray;
}

div.bas table {
  top:0px;
  margin-top:-3px;
  margin-left:auto;
  margin-right:auto;
  width:500px;
  font-size:12px;
}

div.bas table td { 
  background-color:silver;
  bottom:0px;
  border:0px;
  padding:0px 5px 0px 5px;
  font-weight:bold;
  color:black;
  cursor:pointer;
}

div.bas table td:hover { 
  background-color:lightgrey;
} 

div.bas a {
  position:absolute;
  left:1%;
}

div.bas input { 
  font-weight:bold;
}

svg text {
  text-anchor:start;
}

#editeur{
  position:fixed;
  top:72px;
  bottom:65px;
  overflow:auto;
  left:36.5%;
  width:63%;
  margin:0px;
  border:0px;
  border-color:red;
  padding-top:15px;
  padding-left:5px;
  display:none;
}

#editeur input{
 position:relative  
}

#editeur h1{
  text-align:center;
}

#editeur table {
  margin-left:5%;
  width:90%;
  border-width:1px;
  border-style:solid;
  border-collapse:collapse;
  border-color:black;
}

#editeur table td {
  border-width:1px;
  border-style:solid;
  border-color:navy;
}

#editeur table td.col1 {
 background-color:lightgray;
 width:50px;
 text-align:center
}

#editeur math { 
  font-size:1.2em;
 }

#editeur pre { 
  background-color:yellow;
  margin-left:10%;
  width:80%;
  padding:2px;
}

p.MenuBasEditeur {
  position:absolute;
  left:0px;
  bottom:0px;
  width:100%;
  height:25px;
  padding:2px 0px 0px 10px;
  margin:0px;
  background-color:silver;
}

p.MenuBasEditeur button{ 
  background-color:#ffff66;;
}

iframe { 
  display:none;
}