html, body { 
  border:0;
  height:100%;
  padding:0;
  margin:0;
}

body {
  text-align: center; /* pour corriger le bug de centrage IE */ 
  overflow:auto;
  font-family :Trebuchet, Arial Unicode MS, sans-serif; 
  font-size:14px;
  /*background:gray;*/
  background-image: url(Cerulean.jpg);
}

#canevas {
  position:relative;
  top:12px;
  min-height:95%;
  width:994px;
  padding:10px 10px 0 10px;
  margin:0 auto 0 auto;
  border:1px solid gray;
  text-align:left;
  background-color:white;
  opacity:0.92;
  -moz-border-radius:25px;
  -webkit-border-radius:25px;
  border-radius:25px;
}

#canevas>* { 
  margin-left:10px;
  margin-right:10p;
} 

h1,h2,h3,p,input,select,ul,ol,#canevas>table,#canevas>div {
  position:relative;
  margin:10px auto 0 auto;
}



#canevas  hr { 
  margin:10px 0 10px 0;
}


script { 
  margin:0;
}

#listeExos { 
  visibility:hidden;
}

div.histo { 
  position:relative;
  width:60%;
  left:0%;
  text-align:center;
  border:1px solid gray;
  height:150px;
  overflow:auto;
} 

div.histo hr { 
  border:1px dotted gray;
  margin:5px;
}


 p.sortie { 
  left:0;
  width:98%;
  border:0;
  text-align:center;
}

#canevas span.sortieDL  { 
  height:3em;
  line-height:3em;
}

#canevas span.sortieDL * { 
  line-height:3em;
  overflow:hidden;
}

table.tab, table.tabInv { 
  border-collapse:collapse;
  margin-left: auto; 
  margin-right: auto; 
}

 table,  tab td {
  border-width:1px;
  border-style:solid;
}

 a { 
  text-decoration:underline;
  color:blue;
  cursor:pointer;
}
 a:hover { 
  color:navy;
}

div.distrib {
  width:100%;
  margin-left:0;
  margin-right:0;
  text-align:center;
}

p.ovale { 
  background-color:gray;
  padding:0;
  width:330px;
  height:49px;
  margin-left:auto;
  margin-right:auto;
 -moz-border-radius:2em;
 -webkit-border-radius:2em;
 border-radius:2em;
} 

p.ovale input { 
  width:200px;
  visibility:hidden;
}

p.ovale img:hover { 
  opacity:0.75;
}
 
#numexo { 
  position:absolute;
  top:10px;
  left:95px;
  font-size:20px;
}

svg {
  position:relative;
  margin :0;
  background-color:white;
  border:0;
}

#svg {
  position:relative;
  margin:0 auto 0 auto;
  width:12.5cm;
  height:11.8cm;
  overflow:hidden;
}

