div.popup { 
  position:fixed;
  top:0;
  left:0;
  width:400px;
  max-height:525px;
  min-width:400px;
  border:1px solid gray;
  background:white;
  font-family: Arial, Helvetica, Geneva;
  -moz-box-shadow: 4px 4px 10px #888; 
  -webkit-box-shadow: 4px 4px 10px #888; 
  -o-box-shadow: 4px 4px 10px #888; 
  box-shadow:4px 4px 6px #888; 
}

div.popup div { 
  margin:0 0 0 2%;
  padding:0;
  border:0;
  width:98%;
}

div.popup div object {
	width:100%;
	height:490px;
}

div.popup h3 { 
  margin:0;
  padding:3px 0 0 0;
  text-align:center;
  background:#3669FF;
  color:white;
  height:22px;
  font-size:16px;
  cursor:default;
}


div.popup div textarea { 
  width:98%;
  height:100%;
  min-height:500px;
  margin:0 0 0 2%;
  border:0;
}

img.fermer { 
  position:absolute;
  top:2px;
  right:2px;
}


