html {
}

body {
  margin : 0px; 
  padding : 10px; 
  border : 0px;  
  font-family : Verdana, Geneva, Arial, 'Lucida grande', sans-serif;
  font-size:14px;
}

h1{
  text-align:center;
}

table {
  margin-left:5%;
  width:90%;
  border-width:1px;
  border-style:solid;
  border-collapse:collapse;
  border-color:black;
}

td {
  border-width:1px;
  border-style:solid;
  border-color:navy;
  text-align:center
}

table td.col1 {
 background-color:lightgray;
 width:50px;
 text-align:center
}

pre{ 
  background-color:yellow;
  margin-left:10%;
  width:80%;
  padding:2px;
}

PRE { 
  background-color:yellow;
  margin-left:10%;
  width:80%;
  padding:2px;
}
