

body { 
  text-align: center; /* pour corriger le bug de centrage IE */ 
  font-family : Trebuchet, Arial Unicode MS, sans-serif; 
  font-size:14px;
  line-height:1.6em;
 /* background-image:url("img/lazuli.jpg");*/
  background:#6CB9CE;//#61B7CF;//skyblue;
}

#canevas {
  position:relative;
  min-height:99.9%;
  width:994px;
  padding:0 5px 5px 5px;
  margin:1em auto 1em auto;
  border:0;
  border-left:1px solid gray;
  border-right:1px solid gray;
  border-bottom:1px solid gray;
  text-align:left;
  background-color:white;
  -moz-border-radius:30px;
  -webkit-border-radius:30px;
  border-radius:30px;
}


h2,h3 { 
  color:#012863;
}

h1, #menu { 
  margin-left:-5px;
  width:1004px;
}

h1 { 
  color:#FDB91B;//white;
  background-color:#0C2070;//dimgray;
  text-align:center;
  padding:0.5em 0 0.5em 0;
  -moz-border-radius-topleft:30px;
  -webkit-border-top-left-radius:30px;
  border-top-left-radius:30px;
  -moz-border-radius-topright:30px;
  -webkit-border-top-right-radius:30px;
  border-top-right-radius:30px;
  margin-bottom:0;
}

#menu { 
  background-color:#354481;//#2540AC;//darkGray;
  margin-top:0;
  font-weight:bold;
  color:#FDB91B;//white;
}


#menu a, #menu span{ 
  margin-left:1em;
}


#menu a { 
  color:#FED981;//#FD8D1B;//navy;
  text-decoration:none;
}

#menu a:hover{ 
  color:royalblue;
}

img { 
  vertical-align:middle;
  margin:0 0.5em 0 .05em;
 }

img.horsligne { 
  margin-left:5em;
}


p.post_it {
  float:right;
  margin:1em 3em 1em 1em;
  border:1x solid black;
  width:300px;
  padding:5px; 
  line-height:1.75em;
  background-color:yellow;
  -moz-box-shadow: 10px 10px 5px #888;
  -webkit-box-shadow: 10px 10px 5px #888;
  box-shadow: 10px 10px 5px #888;
}

pre { 
  font-family:courier;
 }