div.tableur {
  margin-top:20px;
  margin-left: auto; 
  margin-right: auto; 
  width:900px;
  background-color:silver;
  border : solid navy 1px;
  -moz-box-shadow: 10px 10px 5px #888;
  -webkit-box-shadow: 10px 10px 5px #888;
  box-shadow: 10px 10px 5px #888;
}

div.tableur div.outils{
  position:relative;
  top:0px;
  right:0px; 
  height:35px;
  padding:0px 0px 0px 10px;
  overflow:hidden;
}

div.tableur div.outils input {
  margin:7px 0px 0px 10px;
  width:400px;
}

div.tableur div.outils img { 
  vertical-align:top;
  margin:8px 1px 0px 10px;
}

div.tableur div.outils button { 
  vertical-align:middle;
  margin:0px 20px 0px 5px;
  background-color:yellow;
}

div.tableur div.outils select {
  vertical-align:top;
  background-color:#ffff66;
} 

div.tableur math {
  display:block;
}

div.tableur div.conteneur {
  position:relative;
  width:100%; 
  top:5px;
  bottom:5px;
  overflow:auto; 
  background-color:white;
}

div.tableur div.tableau{
  width:900px;
}

div.tableur table {
border-collapse:collapse;
width:100%;
}

div.tableur td, div.tableur th {
  border-width:1px;
  border-style:solid;
  border-color:navy;
  text-align:center;
}



div.tableur th, td.col1 {
 background-color:lightgrey;
 -moz-box-shadow: 0px -20px 10px -10px rgba(0,0,0,0.2) inset; 
 text-align:center;
}

td.col1 { width:50px; }