div.console { 
  position:relative;
  width:92%;
  height:300px;
  overflow-y:auto;
  overflow-x:hidden;
  margin:0 0 0 3%;
  padding:0 1% 0px 1%;
  border: 2px solid navy;
  -moz-border-radius:1%;
  -moz-box-shadow: 10px 10px 5px #888;
  -webkit-border-radius:1em;
  -webkit-box-shadow: 10px 10px 5px #888;
  border-radius:1%;
  box-shadow: 10px 10px 5px #888;
  background:white;

}

div.console p {
  font-size:16px;
  margin:5px;
  border-width:0px 0px 1px 0px;
  padding:2px;
  border-style:dotted;
  border-color:#303531;
}

div.console math {
  display:block;
  font-size:16px;
  cursor:pointer;
}

div.console span { 
 cursor:pointer;
}

div.console input {
  left:2%;
  width:96%;
  border:0px;
  margin :5px;
  padding:2px;
  font-size:16px;
}


#fin { 
  margin:5px;
}