body { background:snow;//#FFFFCC; }

svg { 
  background:white;
}

.sensiblesurvol:hover {
  opacity:0.3;
}
.selection, .tressensiblesurvol:hover {
  stroke-width:4;
  opacity:0.3;
}

   
g.regle rect { 
  stroke:black;
}