body { 
  padding:0;
  overflow:hidden;
  font-family : Georgia,  sans-serif; 
  font-size:14px;
  background-color:#4F4127;
}


#aide,#h, #b {
  position:absolute;
  margin:0;
}

#aide *, #b * { 
  margin-left:10px;
  margin-right:10px;
}

#aide { 
  height:96%;
  width:37%;
  top:2%;
  left:1%;
  background-color:#EDD2A7;
  overflow:auto;
  -moz-border-radius-topleft:1em;
  -webkit-border-top-left-radius:1em;
  -moz-border-radius-bottomleft:1em;
  -webkit-border-bottom-left-radius:1em;
}


#aide h1 { 
  font-size:1.6em;
  text-align:center;
  background-color:#FFEEC3;
  width:80%;
  margin-left:10%;
  -webkit-box-shadow: 10px 10px 5px #888;
  -moz-box-shadow: 10px 10px 5px #888;
}


#aide>h2, #aide>h3 { 
  text-decoration:underline;
}

#aide h2 { 
  font-size:1.4em;
}

#aide h3 { 
  font-size:1.2em;
}

#aide h4 { 
  font-size:1em;
}

#aide p.prog, #aide p.algo{ 
  margin-left:3%;
  width:88%;
  padding-left:2%;
  -webkit-box-shadow: 10px 10px 5px #888;
  -moz-box-shadow: 10px 10px 5px #888;
}

#aide p.prog { 
  background-color:#FFCF00;

}

#aide p.algo { 
  background-color:#CC9C50;
  font-style:italic;
}

#aide p.exo:first-letter { 
  font-weight:bold; 
}

#h, #b { 
  right:1%;
  width:60%;
}



#h { 
  top:2%;
  height:46%;
  font-size:1.1em; 
  background-color:#FFEEC3;
  -moz-border-radius-topright:1em;
  -webkit-border-top-right-radius:1em;
}

#b { 
  top:50%;
  height:48%;
 
  background-color:#9F8562;
  color:#FFFFCC; 
  position:fixed;
  overflow:auto;
  -moz-border-radius-bottomright:1em;
  -webkit-border-bottom-right-radius:1em;
}

#exe, #efface {
  position:absolute;
  font-weight:bold;
  top:43%;
}

#exe:hover, #efface:hover {
  color:gray;
}

#exe {
  color:red;
  background-color:#FFCF00;
  right:10em;
}

 #efface {
  background-color:red;
  color:#FFCF00;
  top:43%;
  right:4em;
}


 table {
  width:80%;
  border-width:1px;
  border-style:solid;
  border-collapse:collapse;
  border-color:black;
  margin-bottom:1em;
}

th { 
  border:solid thin;
  background-color:#FFCF00;;
 
}

 td {
  border:solid thin;
  text-align:center;
}